@keyframes fade-in {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes drop-in {
    from {
        transform: translateY(-50px);
    }

    to {
        transform: translateY(0px);
    }
}

main {
    /* background-color: crimson; */
    display: flex;
    flex-direction: column;
    align-items: left;
}

.container {
    display: flex;
    justify-content: center;
}

.introduction {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 25px;
    justify-content: center;
    padding-bottom: 2rem;
}

.about-me-heading {
    color: #fca311;
    /* padding-top: 1rem; */
    margin-bottom: 1rem;
    animation: fade-in 1s ease-in;
}

.about-me-pic {
    padding: 0.5rem;
    display: flex;
    background-color: #111;
    animation: fade-in 2s ease-in;
}

.read-about-me {
    background-color: #111;
    padding: 1rem;
    border-radius: 5px;
    letter-spacing: 2px;
    line-height: 1.6;
    font-size: 1.125rem;
    color: #f1f1f1;
    width: 100%;
    animation: drop-in 2s ease-in, fade-in 2s ease-in;
    /* background-color: rgb(132, 0, 209); */
}

.me-pic {
    width: 100%;
    display: block;
    object-fit: cover
}

.me-pic-vertical {
    display: none;
}

@media (max-width: 1350px) {
    .about-me-heading {
        text-align: center;
    }

    main {
        align-items: center;
    }

    .introduction {
        /* background-color: #fca311; */
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(max-width: 350px) {
    .me-pic {
        display: none;
    }
    .me-pic-vertical {
        width: 100%;
        display: block;
        object-fit: cover;
    }
}