@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@keyframes fade-in {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes drop-in {
    from {
        transform: translateY(-200px);
    }

    to {
        transform: translateY(0px);
    }
}

.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: teal;
}

.contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-content: center; */
    /* margin: 2em; */
    padding: 1em;
    border-radius: 10px;
    /* background-color: #101a5a; */
    animation: fade-in 2s ease-in, drop-in 2s ease-in-out;
}

input {
    letter-spacing: 3px;
    font-size: 2rem;
    width: 50%;
    border: none;
    /* border-bottom: 2px solid white; */
    background: none;
    /* color: rgb(1, 183, 255); */
}

input:hover {
    border-bottom: 2px solid #fca311;
}

.entry {
    margin: 1rem 0;
}

.name-entry {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.email-entry {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message-entry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

textarea {
    /* margin-top: 1rem; */
    letter-spacing: 2px;
    font-family: Poppins, sans-serif;
    font-size: 1.5rem;
    color: rgb(1, 183, 255);
    background: none;
    width: 100%;
}

.submit-btn {
    padding: 1rem;
    margin-top: 1rem;
    width: 20%;
    font-size: inherit;
    color: white;
    background: none;
}

.submit-btn:hover {
    color: #fca311;
    border: 2px solid #fca311;
}

@media (max-width: 1024px) {
    .contact-heading {
        text-align: center;
    }
    .message-entry {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 800px) {
    .submit-btn {
        width: 40%;
    }

    input {
        width: 100%;
    }
}

@media (max-width: 400px) {
    body {
        font-size: 1rem;
    }

    .container {
        padding: 0 10px;
    }

    textarea {
        font-size: 0.5rem;
    }

    .submit-btn {
        width: 60%;
    }
}

