@keyframes fade-in {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes drop-in {
    from {
        transform: translateY(-200px);
    }

    to {
        transform: translateY(0px);
    }
}

.project-image {
    min-width: 275px;
    width: 100%;
}

.image-box {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}

.github {
    top: 8%;
    left:25%;
    position: absolute;
    width: 50%;
    opacity: 0;
}

.checkout_msg {
    font-size: 1rem;
    padding-bottom: 0.5rem;
    left: 3%;
    right: 3%;
    bottom: 0;
    position: absolute;
    opacity: 0;
}

.projects-heading {
    /* background-color: #f1f1f1; */
    color: #fca311;
    padding-top: 1rem;
    margin-bottom: 1rem;
    animation: fade-in 1s ease-in;
}

.projects-section {
    display: flex;
    justify-content: center;
    height: 100%;
    /* background-color: lemonchiffon; */
}

.my-projects {
    margin-bottom: 2em;
    /* background-color: blue; */
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(4, 1fr);
}

.project-example {
    padding: 1rem;
    border-radius: 10px;
    background-color: #333;
}

.project_url {
    text-decoration: none;
    color: #f1f1f1;
}

.project_url:hover {

    color: #fca311;
}

.project-description {
    font-size: 1rem;
}



@media (max-width: 1500px) {
    .projects-heading {
        text-align: center;
    }
    .my-projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .my-projects {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5px;
    }

    .project-example {
        margin-bottom: 2rem;
    }
}