@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@keyframes fade-in {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes drop-in {
    from {
        transform: translateY(-50px);
    }

    to {
        transform: translateY(0px);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* background-color: #09134b; */
}

html, body {
    height: 100%;
}

body {
    width: 100%;
    font-family: Poppins,sans-serif;
    letter-spacing: 5px;
    font-size: 1.75rem;
    /* color: rgb(196, 196, 196); */
}

.wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #124263;
    min-height: 100%;
    position: relative;
}

.container {
    width: 100%;
    max-width: 1480px;
    height: 100%;
    margin: 0 auto;
    padding: 0 40px;
}

.footer {
    padding: 1rem;
    font-size: 1rem;
    color: #f1f1f1;
    background: #333;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #f1f1f1;
}

.navbar-links ul {
    transition: all 1s ease;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    /* background-color: blueviolet; */
    font-size: 1.25rem;
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: #f1f1f1;
    padding: 1rem 2rem;
    display: block;
}

.toggle-button {
    position: absolute;
    top: 1rem;
    right: 2rem;
    display: flex;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30px;
    height: 40px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.link:hover {
    background-color: #fca311;
    color: rgb(0, 0, 0);
}

/* Main Section (Introducing myself) */
.introduction {
    color: #f1f1f1;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}


.who-are-you {
    margin: 2em 0;
    text-shadow: 2px 2px 8px #0c0c0c;
    font-size: 1.25em;
    animation: fade-in 1.5s ease-in;
}

.career-goal {
    animation: drop-in 3s ease-in, fade-in 3s ease-in;
}

.welcome {
    margin: 1em 0;
    text-shadow: 2px 2px 8px #000000;
    font-size: 2.5em;
    text-align: center;
    animation: fade-in 5s ease-in, color-change 3s infinite;
}

.call-to-action {
    margin: 2em 0 3em 0;
    /* margin-bottom: 3em; */
    font-size: 1em;
    display: flex;
    justify-content: flex-end;
    animation: fade-in 6s ease-in;
}

@media (max-width: 1024px) {
    body {
        color: rgb(1, 183, 255);
    }

    .navbar {
        justify-content: center;
    }

    .introduction {
        align-items: center;
    }
}

@media (max-width:700px) {
    body {
        color: rgb(6, 201, 6);
    }

    .container {
        padding: 0 20px;
    }
}

@media (max-width: 610px) {
    body {
        font-size: 1rem;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
        transform: translateY(0);
        transition: transform .3s ease;
    }

    .navbar {
        margin-top: 4em;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: 0.5rem 1rem;
    }

    .navbar-links.active {
        transform: translateY(0px);
        transition: all 0.3s ease;
        display: flex;
    }
}