<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/about.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <nav class="navbar">
    
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar-links">
                <ul>
                    <li><a class="link home-link" href="/views/index.html">Home</a></li>
                    <li style=background-color:#e5e5e5><a style="color: #000;" class="link about-link" href="/views/about.html">About</a></li>
                    <li><a class="link project-link" href="/views/projects.html">Projects</a></li>
                    <li><a class="link contact-link" href="/views/contact.php">Contact</a></li>
                </ul>
            </div>     
        </nav>
        <div class="container">
            <main>
                <h1 class="about-me-heading">About Me</h1>
                <!-- <h1>HELLO</h1> -->
                <div class="introduction">
                    <section class="about-me-pic">
                        <img class="me-pic" src="/assets/0.jpg" alt="">
                        <img class="me-pic-vertical" src="/assets/0_vertical_small.jpg" alt="">
                    </section>
                    <section class="read-about-me">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum expedita accusantium aliquam deserunt iste quod odit consequuntur facere eaque. Tenetur?</p>
                        <br>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur blanditiis eaque doloremque possimus delectus fuga, suscipit eum officiis cum odit?</p>
                        <br>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur blanditiis eaque doloremque possimus delectus fuga, suscipit eum officiis cum odit?</p>
                    </section>
                </div>
            </main>
        </div>
        <div class="footer">
            &copy; 2020 Johnny Pham
        </div>
    </div>
    <script src="../script.js"></script>
</body>
</html>