<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects Page</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/contact_form.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <nav class="navbar">
    
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar-links">
                <ul>
                    <li><a class="link home-link" href="/views/index.html">Home</a></li>
                    <li><a class="link about-link" href="/views/about.html">About</a></li>
                    <li><a class="link project-link" href="/views/projects.html">Projects</a></li>
                    <li style=background-color:#e5e5e5><a style="color: #000;" class="link contact-link" href="/views/contact.html">Contact</a></li>
                </ul>
            </div>     
        </nav>
        <div class="container">
            <main>
                <h1 class="contact-heading">Contact Me</h1>
                <div class="contact-section">
                    <div class="contact-info">
                        <h3>Contact Information</h3>
                        <ul>
                            <li class="name">Johnny Pham</li>
                            <li class="address">518 Kirkwood Avenue</li>
                            <li class="phone-number">(319) 290-4542</li>
                            <li class="email">phamj1998@gmail.com</li>
                        </ul>
                    </div>
                    <div class="contact-form">
                        <form id="cf" method="POST" action="./contact.php">
                            <p>
                                <label>Name:</label>
                                <input type="text" name="name" required>
                            </p>
                            <p>
                                <label>Company:</label>
                                <input type="text" name="company" class="form-control">
                            </p>
                            <p>
                                <label>Email Address:</label>
                                <input type="email" name="email" class="form-control">
                            </p>
                            <p>
                                <label>Phone Number:</label>
                                <input type="text" name="phone" class="form-control" required>
                            </p>
                            <p class="full">
                                <label>Message:</label>
                                <textarea class="form-control" name="message" id="" rows="5"></textarea>
                            </p>
                            <p class="full">
                                <button type="submit">SUBMIT</button>
                            </p>
                        </form>
                    </div>
                </div>
            </main>
        </div>
        <footer class="footer">
            &copy; 2020 Johnny Pham
        </footer>
    </div>
    <script src="../script.js"></script>
</body>
</html>