<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/contact.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <nav>
            <ul class="nav-links">
                <li><a class="link home-link" href="/views/index.html">Home</a></li>
                <li><a class="link about-link" href="/views/about.html">About</a></li>
                <li><a class="link project-link" href="/views/projects.html">Projects</a></li>
                <li style=background-color:#e5e5e5><a style="color: #000;" class="link contact-link" href="/views/contact.html">Contact</a></li>
            </ul>
            <div class="burger-menu">
                <div class="line line-1"></div>
                <div class="line line-2"></div>
                <div class="line line-3"></div>
            </div>
        </nav>
        <div class="introduction">
            <form class="contact-form" action="/">
                <h1 class="contact-heading">Contact Me</h1>
                <div class="entry name-entry">
                    <label for="email">Name:</label>
                    <input class="name" type="email">
                </div>
                <div class="entry email-entry">
                    <label for="email">Email:</label>
                    <input class="email" type="email">
                </div>
                <label for="email">Message:</label>
                <div class="entry message-entry">
                    <textarea name="message" class="message" cols="30" rows="3"></textarea>
                    <button class="submit-btn" type="submit">SUBMIT</button>
                </div>
            </form>
        </div>
    </div>
    <footer>
        &copy; 2020 Johnny Pham
    </footer>
    <script src="../script.js"></script>
</body>
</html>