<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <nav>
            <ul class="nav-links">
                <li><a class="link home-link" href="/views/index.html">Home</a></li>
                <li><a class="link about-link" href="/views/about.html">About</a></li>
                <li><a class="link project-link" href="/views/projects.html">Projects</a></li>
                <li style=background-color:#6E7DAB><a class="link contact-link" href="/views/contact.html">Contact</a></li>
            </ul>
        </nav>
        <div class="introduction">
            <section class="who-are-you">
                <p class="greeting">Hello. I'm <strong>Johnny</strong>,</p>
                <p style="font-size: 0.75em;" class="career-goal"> an aspiring Software Developer</p>
            </section>
            <section class="welcome">
                <p>WELCOME TO THE</p>
                <p>CONTACT PAGE</p>
            </section>
            <section class="call-to-action">
                Dissent From the Fear...
            </section>
        </div>
    </div>
</body>
</html>