<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Johnny Pham's Porfolio</title>
    <link rel="icon" type="image/png" href="../assets/favicon.png"/>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <nav class="navbar">
    
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar-links">
                <ul>
                    <li style=background-color:#e5e5e5><a style="color: #000;" class="link home-link" href="/views/index.html">Home</a></li>
                    <li><a class="link about-link" href="/views/about.html">About</a></li>
                    <li><a class="link project-link" href="/views/projects.html">Projects</a></li>
                    <li><a class="link contact-link" href="/views/contact.php">Contact</a></li>
                </ul>
            </div>     
        </nav>
        
        <div class="container">
            <div class="introduction">
                <section class="who-are-you">
                    <p class="greeting">Hello. I'm <strong>Johnny</strong>,</p>
                    <p style="font-size: 0.75em;" class="career-goal"> an aspiring Software Developer</p>
                </section>
                <section class="welcome">
                    <p>WELCOME TO MY</p>
                    <p>PORTFOLIO</p>
                </section>
                <section class="call-to-action">
                   <em style="font-size: 1rem" class="quote">QUOTE OF THE DAY</em>
                   <br>
                   <p class="author" style="font-size: 1rem;" class="author"></p>
                </section>
            </div>
        </div>
        <footer class="footer">
            &copy; 2020 Johnny Pham
        </footer>
    </div>
    <script src="../script.js"></script>
    <script src="/quotes.js"></script>
</body>
</html>