<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Johnny Pham's Porfolio</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body onload="reset()">
    <div class="wrapper">
        <div class="container">
            <nav>
                <ul class="nav-links">
                    <li style=background-color:#e5e5e5><a style="color: #000;" class="link home-link" href="/views/index.html">Home</a></li>
                    <li><a class="link about-link" href="/views/about.html">About</a></li>
                    <li><a class="link project-link" href="/views/projects.html">Projects</a></li>
                    <li><a class="link contact-link" href="/views/contact.html">Contact</a></li>
                </ul>
    
                <div onClick="hooli()" class="burger-menu">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                    <div class="line line-3"></div>
                </div>
                
            </nav>
            <div class="introduction">
                <section class="who-are-you">
                    <p class="greeting">Hello. I'm <strong>Mr. Robot</strong>,</p>
                    <p style="font-size: 0.75em;" class="career-goal"> an aspiring Software Developer</p>
                </section>
                <section class="welcome">
                    <p>WELCOME TO MY</p>
                    <p>PORTFOLIO</p>
                </section>
                <section class="call-to-action">
                   We Must Dissent From the Fear...XD
                </section>
            </div>
        </div>
        <footer class="footer">
            &copy; 2020 Johnny Pham
        </footer>
    </div>
    <script src="../script.js"></script>
</body>
</html>