<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects Page</title>
    <link rel="icon" type="image/png" href="../assets/favicon.png"/>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/projects.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <nav class="navbar">
    
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar-links">
                <ul>
                    <li><a  class="link home-link" href="/views/index.html">Home</a></li>
                    <li><a class="link about-link" href="/views/about.html">About</a></li>
                    <li style=background-color:#e5e5e5><a style="color: #000;" class="link project-link" href="/views/projects.html">Projects</a></li>
                    <li><a class="link contact-link" href="/views/contact.php">Contact</a></li>
                </ul>
            </div>     
        </nav>
        <div class="container">
            <main>
                <h1 class="projects-heading">My Projects</h1>
                <div class="projects-section">
                    <section class="my-projects">
                        <div class="project-example">
                            <a class="project_url" href="https://github.com/Jphamster101/Arduino-Security-System" target="_blank">
                                <div class="image-box">
                                    <img class="arduino project-image" src="../assets/blue.jpg" alt="">
                                    <img class="github" src="../assets/github_logo.png" alt="">
                                    <p class="checkout_msg" style="color: white;">View on Github</p>
                                </div>
                                <h1>ARDUINO SECURITY SYSTEM</h1>
                                <p class="project-description">Fully functional IR security alarm system with passcode funcionality, developed using the Arduino UNO microcontroller.</p>
                            </a>
                        </div>
                        <div class="project-example">
                            <a class="project_url" href="https://github.com/Jphamster101/Python-Comment-Initializer" target="_blank">
                                <div class="image-box">
                                    <img class="python project-image" src="../assets/python.jpg" alt="">
                                    <img class="github" src="../assets/github_logo.png" alt="">
                                    <p class="checkout_msg" style="color: white;">View on Github</p>
                                </div>
                                <h1>PYTHON COMMENT INITIALIZER</h1>
                                <p class="project-description">Simple python program used to improve organization and workflow of projects by being able to quickly enter initial information prior to starting project.</p>
                            </a>
                        </div>
                        <div class="project-example">
                            <a class="project_url" href="https://github.com/Jphamster101/Corona_Data_Scraper" target="_blank">
                                <div class="image-box">
                                    <img class="corona project-image" src="../assets/corona.jpg" alt="">
                                    <img class="github" src="../assets/github_logo.png" alt="">
                                    <p class="checkout_msg" style="color: white;">View on Github</p>
                                </div>
                                <h1>CORONA DATA SCRAPER</h1>
                                <p class="project-description">Python program used to track and monitor daily COVID-19 casualities in the world and outputs data into an Excel spreadsheet, with a graph as an addditional visual aid.</p>
                            </a>
                        </div>
                        <div class="project-example">
                            <a class="project_url" href="https://github.com/Jphamster101/Cup-of-Joe-Revamp-Site" target="_blank">
                                <div class="image-box">
                                    <img class="coffee project-image" src="../assets/cup_of_joe.jpg" alt="">
                                    <img class="github" src="../assets/github_logo.png" alt="">
                                    <p class="checkout_msg" style="color: white;">View on Github</p>
                                </div>
                                <h1>CUP OF JOE SITE REVAMP</h1>
                                <p class="project-description">Took an existing website of a local coffee shop in my area, and updated it in order to make it more modern and responsive.</p>
                            </a>
                        </div>


                        
                        <!-- <div class="project-example placeholder-project">
                            <a class="project_url" href="">
                                <div class="image-box">
                                    <img class="unknown project-image" src="../assets/404.png" alt="">
                                    <img class="github" src="../assets/github_logo.png" alt="">
                                    <p class="checkout_msg" style="color: white;">View on Github</p>
                                </div>
                                <h1>EXAMPLE PROJECT</h1>
                                <p class="project-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum expedita accusantium aliquam deserunt iste quod odit consequuntur facere eaque. Tenetur?</p>
                            </a>
                        </div>
                        <div class="project-example placeholder-project">
                            <a class="project_url" href="">
                                <div class="image-box">
                                    <img class="unknown project-image" src="../assets/404.png" alt="">
                                    <img class="github" src="../assets/github_logo.png" alt="">
                                    <p class="checkout_msg" style="color: white;">View on Github</p>
                                </div>
                                <h1>EXAMPLE PROJECT</h1>
                                <p class="project-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum expedita accusantium aliquam deserunt iste quod odit consequuntur facere eaque. Tenetur?</p>
                            </a>
                        </div>
                        <div class="project-example ">
                            <a class="project_url" href="">
                                <div class="image-box">
                                    <img class="unknown project-image" src="../assets/404.png" alt="">
                                    <img class="github" src="../assets/github_logo.png" alt="">
                                    <p class="checkout_msg" style="color: white;">View on Github</p>
                                </div>
                                <h1>EXAMPLE PROJECT</h1>
                                <p class="project-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum expedita accusantium aliquam deserunt iste quod odit consequuntur facere eaque. Tenetur?</p>
                            </a>
                        </div>
                        <div class="project-example project-example-5">
                            <a class="project_url" href="">
                                <div class="image-box">
                                    <img class="unknown project-image" src="../assets/404.png" alt="">
                                    <img class="github" src="../assets/github_logo.png" alt="">
                                    <p class="checkout_msg" style="color: white;">View on Github</p>
                                </div>
                                <h1>EXAMPLE PROJECT</h1>
                                <p class="project-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum expedita accusantium aliquam deserunt iste quod odit consequuntur facere eaque. Tenetur?</p>
                            </a>
                        </div> -->
                    </section>
                </div>
            </main>
        </div>
        <footer class="footer">
            &copy; 2020 Johnny Pham
        </footer>
    </div>
    <script src="../script.js"></script>
</body>
</html>