<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects Page</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/projects.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <nav class="navbar">
    
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar-links">
                <ul>
                    <li><a  class="link home-link" href="/views/index.html">Home</a></li>
                    <li><a class="link about-link" href="/views/about.html">About</a></li>
                    <li style=background-color:#e5e5e5><a style="color: #000;" class="link project-link" href="/views/projects.html">Projects</a></li>
                    <li><a class="link contact-link" href="/views/contact.php">Contact</a></li>
                </ul>
            </div>     
        </nav>
        <div class="container">
            <main>
                <h1 class="projects-heading">My Projects</h1>
                <div class="projects-section">
                    <section class="my-projects">
                        <div class="project-example project-example-1">
                            <img class="arduino project-image" src="../assets/blue.jpg" alt="">
                            <h1>ARDUINO SECURITY SYSTEM</h1>
                            <p class="project-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum expedita accusantium aliquam deserunt iste quod odit consequuntur facere eaque. Tenetur?</p>
                        </div>
                        <div class="project-example project-example-2">
                            <img class="python project-image" src="../assets/python.jpg" alt="">
                            <h1>PYTHON COMMENT INITIALIZER</h1>
                            <p class="project-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum expedita accusantium aliquam deserunt iste quod odit consequuntur facere eaque. Tenetur?</p>
                        </div>
                        <div class="project-example project-example-3">
                            <img class="corona project-image" src="../assets/corona.jpg" alt="">
                            <h1>CORONAVIRUS STATUS CHECKER</h1>
                            <p class="project-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum expedita accusantium aliquam deserunt iste quod odit consequuntur facere eaque. Tenetur?</p>
                        </div>
                        <div class="project-example project-example-4">
                            <img class="coffee project-image" src="../assets/cup_of_joe.jpg" alt="">
                            <h1>CUP OF JOE REVAMP SITE</h1>
                            <p class="project-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum expedita accusantium aliquam deserunt iste quod odit consequuntur facere eaque. Tenetur?</p>
                        </div>
                        <div class="project-example project-example-5">
                            <img class="unknown project-image" src="../assets/404.png" alt="">
                            <h1>TO BE DETERMINED</h1>
                            <p class="project-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum expedita accusantium aliquam deserunt iste quod odit consequuntur facere eaque. Tenetur?</p>
                        </div>
                        <div class="project-example project-example-5">
                            <img class="unknown project-image" src="../assets/404.png" alt="">
                            <h1>TO BE DETERMINED</h1>
                            <p class="project-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum expedita accusantium aliquam deserunt iste quod odit consequuntur facere eaque. Tenetur?</p>
                        </div>
                        <div class="project-example project-example-5">
                            <img class="unknown project-image" src="../assets/404.png" alt="">
                            <h1>TO BE DETERMINED</h1>
                            <p class="project-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum expedita accusantium aliquam deserunt iste quod odit consequuntur facere eaque. Tenetur?</p>
                        </div>
                        <div class="project-example project-example-5">
                            <img class="unknown project-image" src="../assets/404.png" alt="">
                            <h1>TO BE DETERMINED</h1>
                            <p class="project-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum expedita accusantium aliquam deserunt iste quod odit consequuntur facere eaque. Tenetur?</p>
                        </div>
                    </section>
                </div>
            </main>
        </div>
        <footer class="footer">
            &copy; 2020 Johnny Pham
        </footer>
    </div>
    <script src="../script.js"></script>
</body>
</html>