<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects Page</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/projects.css">
</head>
<body>
    <div class="container">
        <nav>
            <ul class="nav-links">
                <li><a class="link home-link" href="/views/index.html">Home</a></li>
                <li><a class="link about-link" href="/views/about.html">About</a></li>
                <li style=background-color:#6E7DAB><a class="link project-link" href="/views/projects.html">Projects</a></li>
                <li><a class="link contact-link" href="/views/contact.html">Contact</a></li>
            </ul>
        </nav>
        <main>
            <h1 class="projects-heading">Projects</h1>
            <div class="projects-section">
                <section class="my-projects">
                    <div class="project-example">
                        <img class="project-image" src="../assets/rp.jpg" alt="">
                        <h1>Project One</h1>
                        <p class="project-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum expedita accusantium aliquam deserunt iste quod odit consequuntur facere eaque. Tenetur?</p>
                    </div>
                    <div class="project-example">
                        <img class="project-image" src="../assets/rp.jpg" alt="">
                        <h1>Project One</h1>
                        <p class="project-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum expedita accusantium aliquam deserunt iste quod odit consequuntur facere eaque. Tenetur?</p>
                    </div>
                    <div class="project-example">
                        <img class="project-image" src="../assets/rp.jpg" alt="">
                        <h1>Project One</h1>
                        <p class="project-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum expedita accusantium aliquam deserunt iste quod odit consequuntur facere eaque. Tenetur?</p>
                    </div>
                    <div class="project-example">
                        <img class="project-image" src="../assets/rp.jpg" alt="">
                        <h1>Project One</h1>
                        <p class="project-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum expedita accusantium aliquam deserunt iste quod odit consequuntur facere eaque. Tenetur?</p>
                    </div>
                </section>
            </div>
        </main>
</body>
</html>